# Segmenting and Clustering Neighborhoods in Toronto

## Importing libraries

In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
#Download from URL
url  = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = requests.get(url)

In [4]:
#Transforming downloaded html to dataframe
df_html = pd.read_html(url, header=0, na_values = ['Not assigned'])[0]
df_html.head()

  Postcode           Borough     Neighbourhood
0      M1A               NaN               NaN
1      M2A               NaN               NaN
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [5]:
#Cleaning : Removing empty Borough rows
df_html.dropna(subset=['Borough'], inplace=True)

In [17]:
# Check: neighborhood == emtpy &  Borough exists
df_html[df_html['Neighbourhood'].isna()]

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park           NaN

In [22]:
#Dealing with empty neighbourhood
df_html['Neighbourhood'].fillna(df_html['Borough'], inplace=True)
neighborhood_empty = df_html[df_html['Neighbourhood'].isna()].shape[0]

In [23]:
#Check : Queen's Park Neighbourhood if empty
df_html[df_html['Borough']=="Queen's Park"]

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Queen's Park

### Grouping

In [25]:
df_postalcode = df_html.groupby(['Postcode','Borough']).Neighbourhood.agg([('Neighbourhood', ', '.join)])
df_postalcode.reset_index(inplace=True)
df_postalcode.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [30]:
df_postalcode.to_csv('Toronto_Postalcodes.csv')

### Shape

In [28]:
df_postalcode.shape

(103, 3)